.city-cards__grid{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 3rem;
    column-gap: 2rem;
    margin-bottom: 6rem;
    margin-inline: auto;
}

@media screen and (max-width: 940px) {
    .city-cards__grid{
        width: 95%;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 560px) {
    .city-cards__grid{
        /* grid-template-columns: 1fr; */
        display:block;
        width: 95%;
    }
    
}