.city-cards__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}

@media screen and (max-width: 768px) {
    .city-cards__grid{
        column-gap: 1.5rem;
    }
}