.CTA__button{
    border-style: none;
    cursor: pointer;

    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    color: #ffff;
    padding: 0.7rem 1rem;
    background-color: #0278FE;
    border-radius: 4px;
    margin-top: 3rem;
    z-index: 1;    
}

@media screen and (max-width: 425px){
    .CTA__button{
        margin-top: 1rem;
    }
}