.description__quote{
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    width: 75%;
}

@media screen and (max-width: 768px) {    
    .description__quote{
        width: 100%;
    }
}