.introduction__title{
    font-size: 54px;
    font-style: normal;
    line-height: 1;
    width: 100%;
    margin-bottom: 4rem;
}

@media screen and (max-width:560px) {
    .introduction__title{
       font-size: 32px;
    }
}