.CTA{
    width: 95%;
    height: 70vh;
    /* background-image: url(/images/landscape.png);
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    position: relative;
}

.CTA:hover .CTA__bkg{
    opacity: 0.4;
}