.header__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 65%;
    line-height: 1.4;
    text-align: center;
    margin-block: 4rem 3rem;
}

@media screen and (max-width: 768px) {
    .header__subtitle{
        width: 90%;
        margin-top: 2rem;
    }
}