.header__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 96px;
    line-height: 1;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: #FFFF;
    width: 55%;
    margin-bottom: 4rem;
}